<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>게시판</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='loginForm.html'"
                    th:onclick="|location.href='@{/login}'|"
                    type="button">로그인
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/board/add}'|"
                    type="button">게시글 작성
            </button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>등록일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article : ${articles}">
                <td><a href="articles.html" th:href="@{/board/{articleId}(articleId=${article.id})}" th:text="${article.id}">게시글번호</a></td>
                <td><a href="articles.html" th:href="@{|/board/${article.id}|}" th:text="${article.title}">제목</a></td>
                <td th:text="${article.userName}">관리자</td>
                <td th:text="${article.registerDate}">2999-99-99</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>